// Colores principales de UmmaPets

$color-verde: rgb(168, 197, 177);
$color-marron: rgb(91, 58, 41);
$color-rosa: rgb(255, 214, 214);
$color-rosa-claro: rgb(255, 245, 245);
$color-crema: rgb(247, 243, 233);
$color-gris-fondo: rgb(245, 245, 245);
$color-blanco: rgb(255, 255, 255);
$color-negro: rgb(0, 0, 0);